body {
  margin: 0;
 padding: 0;
 background: linear-gradient(to right, rgb(28, 186, 28), rgb(208, 128, 128));
 font-family: 'Courier New', Courier, monospace;
}

button {
  cursor: pointer;
}

.particles {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
}
